<!doctype html>
<html lang="en" ng-app>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-responsive.min.css">-->
  <link rel="stylesheet" href="/tree/tree.css">
  <script type="text/javascript" src="controller.js"></script>
  <script>
    function BoatController($scope, $http) {
      socket = io.connect();

      socket.on('connect', function() {
        console.log('Connected');
        $scope.setName();
      });

      $scope.setName = function setName() {
        console.log('Sending name:', $scope.name);
        socket.emit('identify', {
          name: 'Boat',
          name_id: '0'
        });
      };

      if (navigator.geolocation) {
        var timeoutVal = 10 * 1000 * 1000;
        navigator.geolocation.watchPosition(
          displayPosition,
          displayError, {
            enableHighAccuracy: true,
            timeout: timeoutVal,
            maximumAge: 0
          });
      }
      else {
        alert("Geolocation не поддерживается данным браузером");
      }

      function displayPosition(position) {
        //Поскольку с браузерами пока зоопарк..
        var battery = navigator.battery || navigator.webkitBattery || navigator.mozBattery;
        
        coordsText = "Широта: " + position.coords.latitude +
          "<br> Долгота: " + position.coords.longitude +
          "<br> Точность: " + position.coords.accuracy +
          "м<br> Скорость: " + position.coords.speed * 3.6 + " км/ч" +
          "<br> Батарея телефона: " + (battery.level * 100)+"%" +
          "<br> Обновлено: " + (new Date(position.timestamp)).toLocaleString() + "." + (new Date(position.timestamp)).getMilliseconds() +
          "<br> Session: " + socket.socket.sessionid;

        pos = {
          coords: [position.coords.latitude, position.coords.longitude],
          description: coordsText,
          session: socket.socket.sessionid,
          player_name: '',
          speed: position.coords.speed * 3.6,
          battery: battery.level
        };
        socket.emit('coords', JSON.stringify(pos));
        console.log('Sent coords:', JSON.stringify(pos));

        $scope.lat = position.coords.latitude;
        $scope.lon = position.coords.longitude;
        $scope.accuracy = position.coords.accuracy;
        $scope.speed = position.coords.speed;
        $scope.timestamp = position.timestamp;
        $scope.localtime = (new Date(position.timestamp)).toLocaleString() + "." + (new Date(position.timestamp)).getMilliseconds();
        $scope.battery = (battery.level * 100)+"%";
        $scope.$apply();

      }

      function displayError(error) {
        var errors = {
          1: 'Нет прав доступа',
          2: 'Местоположение невозможно определить',
          3: 'Таймаут соединения'
        };
      }


    }
  </script>
</head>

<body>
  <div class="container" ng-controller="BoatController">
    <div class="page-header">
      <h4>Maps track Example</h4>
    </div>
    <div class="row-fluid">
      <div class="form-horizontal">
        <label for="lat">широта</label>
        <input id="lat" type="text" ng-model="lat" class="input-large" disabled/>
        <label for="lon">долгота</label>
        <input id="lon" type="text" ng-model="lon" class="input-large" disabled/>
        <label for="accuracy">точность</label>
        <input id="accuracy" type="text" ng-model="accuracy" class="input-large" disabled/>
        <label for="speed">скорость</label>
        <input id="speed" type="text" ng-model="speed" class="input-large" disabled/>
        <label for="timestamp">timestamp</label>
        <input id="timestamp" type="text" ng-model="timestamp" class="input-large" disabled/>
        <input id="timestamp" type="text" ng-model="localtime" class="input-large" disabled/>
        <label for="battery">батарея</label>
        <input id="battery" type="text" ng-model="battery" class="input-large" disabled/>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
  <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
  <script src="/js/angular.min.js"></script>
</body>

</html>
